
#login_window {
    background: #1F202C;
}

#login_window label {
    color: rgba(255, 255, 255, 0.6);
}

#login_window label:nth-child(2) {
    color: rgba(255, 255, 255, 1);
}
#login_window label:nth-child(3) {
    color: rgba(255, 255, 255, 1);
}

#login_window > box > box > label {
    background: rgba(158, 42, 42, 0.1);
    padding: 14px;
    border-radius: 4px;
    border: 1px solid rgb(158, 42, 42);
    color: rgb(158, 42, 42);
}


#login_window entry {
    color: rgba(255, 255, 255, 1);
    background: #1F202C;
    border: 1px solid #2f3144;
    border-radius: 4px;
    outline: 0;
    text-shadow: none;
    box-shadow: none;
    caret-color: rgba(255, 255, 255, 1);

    transition: all 0.3s ease-out;
}

#login_window entry:focus {
    border: 1px solid lighter(#3E4365);
    outline: 0;
}

#login_window button {
    color: #FFF;
    background: #3E4365;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
}

#login_window button * {
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
}

#login_window button:hover {
    color: #FFF;
    background: lighter(#3E4365);
}

#login_window button:active {
    color: #FFF;
    background: darker(#3E4365);
}